@keyframes catalog_loading{
  0%{transform: translate(50%, 0) rotate(0);}
  100%{transform: translate(50%, 0) rotate(360deg);}
}

@keyframes btn_loading{
  0%{transform: translate(-50%, -50%) rotate(0);}
  100%{transform: translate(-50%, -50%) rotate(360deg);}
}