.btn{
  background-color: #403432;
  font-size: 14px;
  color: #FFFFFF;
  padding: 13px 36px;
  border: none;
  outline: none;
  transition: .3s;
  cursor: pointer;
  position: relative;

  &.loading{
    color: transparent;

    &::after{
      content:"";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid transparent;
      border-top-color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      animation: btn_loading 1s linear infinite;
    }
  }

  &:hover{
    background-color: #776763;
  }

  &:disabled{
    background-color: #C1B4B1;
  }
}